* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	color: #000;
	font-family: "Montserrat", sans-serif;
}

html,
body {
	height: 100vh;
	background-color: #e6ecfe;
}

.app-wrapper {
	padding: 40px;
}

.home-page {
	display: flex;
	gap: 20px;
}

h1 {
	font-weight: 500;
}

.product-item {
	display: flex;
	flex-direction: column;
	padding: 15px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

	img {
		width: 250px;
		height: 250px;
		object-fit: cover;
	}

	h1,
	p {
		font-size: 16px;
	}

	h1 {
		margin-top: 20px;
	}
}

.detail-product {
	display: flex;
	width: 760px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);

	.left-side {
		display: flex;
		gap: 10px;

		img {
			object-fit: cover;
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
			cursor: pointer;
		}

		.small-images {
			display: flex;
			flex-direction: column;
			gap: 10px;

			img {
				width: 100px;
				height: 110px;
			}
		}

		.big-image > img {
			width: 350px;
			height: 350px;
		}
	}

	.right-side {
		display: flex;
		flex-direction: column;
		margin-left: 20px;
		gap: 10px;

		.description {
			flex: 1;
			display: flex;
			flex-direction: column;

			p {
				font-size: 18px;
				font-weight: 500;
			}
		}

		button {
			padding: 10px;
			border: 1px solid rgba(116, 116, 116, 0.5);
			border-radius: 5px;
			background: none;
			cursor: pointer;

			&:hover {
				border: 1px solid black;
			}
		}

		.colors-component {
			display: flex;
			gap: 10px;
		}

		.size-component {
			display: flex;
			gap: 9px;

			.size-item {
				display: flex;
				justify-content: center;
				width: 40px;
				padding: 5px;
				border: 1px solid rgba(116, 116, 116, 0.5);

				&:hover:not(:disabled) {
					border: 1px solid black;
				}

				&:disabled {
					opacity: 0.5;
				}
			}
		}
	}
}
